body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

.main {
  margin-top: 110px;
}

.options {
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: rgb(203, 210, 212);
  border-radius: 4px;
  align-content: stretch;
  width: 100%;
  border: solid 4px black
}

.options .image {
  margin: 5px;
  border: solid 2px black
}

.listcontainer {
  display: flex
}

.listcontainer .listgrid {
  width: 75%
}

.listcard {
  height: 200px;
}

.addlist {
  height: 200px;
  width: 15%;
  float: right
}

.navbar {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: #304d58;
  height: 110px;
  justify-content: space-between;
}

.accounthome {
  background-size: cover;
  justify-content: center
}

.navbar .navbar_menu {
  height: 100px;
  margin-right: 20px;
  margin-top: 25px;
}

.background {
  background: #657F88;
  background-size: cover;
  justify-content: center
}

.box_item_component .outer {
  border-top: none;
  min-width: 140px;
  max-width: 140px;
  overflow: hidden;
}

.box_item_component .highlighted .outer {
  border-top: 40px solid #ddd;
}

.box_item_component .item {
  color: black;
  border-radius: 5px;
  padding: 10px;
  margin: 3px;
  background-color: white;
  border: 2px solid black
}

.box_item_component .grabber {
  font-size: 14px;
  font-weight: bold;
  padding-right: 6px;
}

.drag_things_to_boxes {
  margin-top: 7px;
}


.drag_things_to_boxes .boxes h3 {
  width: 110px;
}

/* individual label */
.drag_things_to_boxes .boxable_component {
  flex-grow: 1;
  align-self: center;
  margin: 10px;
}

/* options box */
.drag_things_to_boxes .options {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: white;
  border-radius: 4px;
  align-content: stretch;
  width: 100%;
  border-style: solid

}

.drag_things_to_boxes .options .option {
  width: 100px;

}

/* drop target box */
.drag_things_to_boxes .component_box {
  width: 100%;
  flex-wrap: wrap;
}

.drag_things_to_boxes .box {
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  background: #657F88;
  border-radius: 4px;
  width: 100%;
  height: 300px;
}

.drag_things_to_boxes .highlighted .box {
  box-shadow: inset 0 0 4px green;
}

.crossedItem {
  text-decoration: line-through;
}
